@page "/"

<!-- Fixed dropdown card yuqorida -->
<div style="position: fixed; top: 0; left: 0; right: 0; z-index: 1100;">
    <MudContainer>
        <MudCard Elevation="4" Style="width: 100%; padding: 1px; min-height: 25px;">
            <MudCardContent Style="padding: 10px;">
                <MudStack Row="true" Justify="Justify.FlexStart" AlignItems="AlignItems.Center" Style="min-height: 15px;">
                    <MudStack Style="width: 150px;">
                        <MudSelect T="Sura"
                                   Label="Sura"
                                   Value="selectedSura"
                                   ValueChanged="OnSuraChanged"
                                   Variant="Variant.Filled"
                                   Dense="true">
                            @foreach (var sura in suras)
                            {
                                <MudSelectItem Value="@sura">@sura.EnglishName</MudSelectItem>
                            }
                        </MudSelect>
                    </MudStack>

                    <MudStack Style="width: 80px; margin-left: 2px;">
                        <MudSelect T="Oyad"
                                   Label="Oyad"
                                   Value="selectedOyad"
                                   ValueChanged="OnOyadChanged"
                                   Variant="Variant.Filled"
                                   Dense="true">
                            @foreach (var oyad in oyads)
                            {
                                <MudSelectItem Value="@oyad">@oyad.NumberInSurah</MudSelectItem>
                            }
                        </MudSelect>
                    </MudStack>

                    <MudSpacer />

                    <MudIconButton @onclick="ShowTranslationText" Style="min-height: 32px;">
                        <MudIcon Icon="@Icons.Material.Filled.Translate" Color=@Color/>
                    </MudIconButton>
                </MudStack>
            </MudCardContent>
        </MudCard>
    </MudContainer>
</div>

<div style="margin-top: 40px;">
    <MudContainer>
        <div style="margin-top: 40px;">
            @if (selectedOyad is not null)
            {
                <MudImage Src="@imageUrl" 
                          Alt="Rasm" 
                          Style="object-fit: contain; width: 100%; max-height: 400px;" />
            }
        </div>
    </MudContainer>
</div>

@if (isTranslationShow)
{
    <div style="margin-top: 10px; margin-bottom: 120px;">
        <MudContainer>
            <div style="margin-top: 10px;">
                <MudText Style="font-size: 18px;">@OyadTranslationText</MudText>
            </div>
        </MudContainer>
    </div>
}

<div style="position: fixed; bottom: 15px; left: 0; right: 0; z-index: 1000;">
    <MudCard Elevation="6">
        @if (selectedOyad is not null)
        {
            <MudCardContent>
                <div style="display: flex; align-items: center;">
                    <audio controls src="@audioUrl" style="flex: 1;"/>
                    <MudIconButton @onclick="SkipToNextAudio" 
                                   Icon="@Icons.Material.Filled.SkipNext" 
                                   Style="color: black; margin-left: 10px;" />
                </div>
            </MudCardContent>
        }
    </MudCard>
</div>
